name: Build

on: [push]

env:
    Solution: ./Source/Korexio.Utilities.sln

jobs:

    Build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Setup .NET
              uses: actions/setup-dotnet@v1
              with:
                  dotnet-version: |
                      6.0.x
                      5.0.x
                      3.1.x

            - name: Setup dotnet-reportgenerator-globaltool
              run: dotnet tool update --global dotnet-reportgenerator-globaltool

            - name: dotnet restore
              run: dotnet restore $Solution

            - name: dotnet build
              run: dotnet build $Solution --no-restore '-binaryLogger:LogFile=./Artifacts/msbuild.binlog'

            - name: dotnet test
              run: dotnet test $Solution --no-build --results-directory './Artifacts/TestResults/' --logger 'trx' --logger 'html' --collect "XPlat Code Coverage"

            - name: reportgenerator HtmlSummary
              run: reportgenerator "-reports:./Artifacts/TestResults/*/coverage.cobertura.xml" "-targetdir:./Artifacts/TestResults/CodeCoverage/Summary" "-reporttypes:HtmlSummary"

            - name: reportgenerator Html_Dark
              run: reportgenerator "-reports:./Artifacts/TestResults/*/coverage.cobertura.xml" "-targetdir:./Artifacts/TestResults/CodeCoverage/Full" "-reporttypes:Html_Dark"

            - name: Upload Build Log
              if: always()
              uses: actions/upload-artifact@v3
              with:
                  name: Build Log
                  path: ./Artifacts/msbuild.binlog

            - name: Upload NuGet Packages
              if: always()
              uses: actions/upload-artifact@v3
              with:
                  name: NuGet Packages
                  path: |
                      ./Artifacts/Korexio.Utilities/bin/Debug/Korexio.Utilities.*.nupkg
                      ./Artifacts/Korexio.Utilities/bin/Debug/Korexio.Utilities.*.snupkg

            - name: Upload Test Results
              if: always()
              uses: actions/upload-artifact@v3
              with:
                  name: Test Results
                  path: |
                      ./Artifacts/TestResults/*.trx
                      ./Artifacts/TestResults/*.html
                      ./Artifacts/TestResults/CodeCoverage/**/*
